# Node.js
node_modules/
dist/
npm-debug.log*
yarn-error.log*
yarn.lock

# Environment files
.env
.env.local
.env.*.local

# NestJS
coverage/
tmp/
*.tsbuildinfo

# Docker
docker/volumes/
*.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
